
$red : rgb(255, 0, 0);
$orange : rgb(255, 127, 0);
$yellow : rgb(255, 255, 0);
$green : rgb(0, 255, 0);
$blue : rgb(0, 0, 255);
$indigo : rgb(75, 0, 130);
$vialot : rgb(148, 0, 211);

$primary:#9c09ff;
$secondary :#ff1184;
$white : white;
$black : black;
$light-gray : rgb(215, 215, 215);
$dark-gray : rgb(20, 20, 20);
